<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
    	<a class="navbar-brand" href="http://www.angularjs.org" target="_blank">
    		<img src="images/angular-js.png" style="width:50px;height:50px;margin-top:-20px !important;margin-bottom:-15px;margin-left:-30px;"/>
    	</a>
        <a href="/" class="navbar-brand" style="margin-left:-45px;"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
    <div class="nav navbar-nav pull-left">
    	<ul class="nav navbar-nav pull-left">
    		<li><div class="form-group">
            	<input type="text" class="form-control" style="margin-left:30px;margin-top: 8px !important; width:250px;" placeholder="Search in CorporativeDB..."/>
            	</div></li>
    	</ul>
    </div>
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
            	<li>
            	<a style="padding-top:14px !important;"><img ng-src="{{Profile}}"  style="width: 25px;height: 25px;border: 1px solid black;" />{{vm.currentuser.name}}</a>
            	</li>
      			<li><a>Home</a>
      			</li>
      			<li>
      			<a ng-click="vm.showNotifications()"><i class="fa fa-bell" style="color:{{vm.notalert}}"></i></a>
      			</li>
            	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret"></span></a>
          		<ul class="dropdown-menu">
          			<li><a href="">{{vm.navline.english}}</a></li>
           			<li><a href="">{{vm.navline.spanish}}</a></li>
            		<li><a href="">{{vm.navline.french}}</a></li>
            	</ul>
           		 </li>
                <li>
                    <a href="" ng-click="vm.logout()">Shut Down</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 


<div id="Notifications" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content style-content">
      <div class="modal-header style-header" style="background-color: #555;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title style-title" style=" color: Beige !important">Notifications</h4>
      </div>
      <div class="modal-body" ng-repeat="n in vm.notifications" style="background-color: beige">
      <table class="table table-condensed">
        <tr><th><i class="fa fa-arrow-circle-right" style="color:tomato; text-shadow:#000"></i></th><td style="color: #31708f">Have received a {{n.type}} from <strong>{{n.nameFrom}} {{n.surnameFrom}}</strong> at <small><i class="fa fa-clock-o"></i> {{n.time | date:'yyyy-MM-dd HH:mm:ss'}}</small></td>
      </tr></table>
      </div>
    </div>
  </div>
</div>